.forgetPassword {
  position: relative;
}

.forgetPassword .textWithHeader {
  margin-bottom: 24px;
}

.forgetPassword input {
  margin-bottom: 32px;
}

.sliderButton {
  padding-top: 130px;
  margin-bottom: 70px;
}

.arrowToBack {
  position: absolute;
  top: 78px;
  left: 4px;
  left: 24px;
  cursor: pointer;
}

.sliderButton {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.forgetPage,
.enterPage ,
.resetPage {
  background-color: #d6dfff;
  width: 32px;
  height: 4px;
  border-radius: 2px;
}

.forgetPassword button {
  margin-bottom: 250px;
}

.forgetPasswordInput {
  background-color: #f5f9fe;
}

.enterPageReplaceColor {
  background-color: #d6dfff;
}

.resetPageReplaceColor {
  background-color: #d6dfff;
}
