.resetForm {
  margin-bottom: 32px;
}

.resetPassword .textWithHeader {
  margin-bottom: 24px;
}

.logoReset {
  background-color: #eaeff5;
}

.resetPassword button{
    display: flex;
    gap: 14px;
}